*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(135deg,#141e30,#243b55,#1cb5e0,#cfd9df);
    background-size:300% 300%;
    animation:bgMove 12s infinite;
}

@keyframes bgMove{
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.page{display:none;}
.active{display:block;}

.center{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    background:white;
    width:420px;
    padding:35px;
    border-radius:25px;
    box-shadow:0 25px 60px rgba(0,0,0,0.3);
}

input,select{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border-radius:30px;
    border:1px solid #ccc;
}

.btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:30px;
    background:linear-gradient(to right,#00b09b,#96c93d);
    color:white;
    font-size:16px;
    cursor:pointer;
}

/* Dashboard */
.app{display:flex;height:100vh;}

.sidebar{
    width:260px;
    background:linear-gradient(to bottom,#5f2c82,#49a09d);
    padding:30px;
    color:white;
}

.sidebar a{
    display:block;
    margin-bottom:18px;
    cursor:pointer;
}

.content{flex:1;padding:50px;color:white;}

.dashboard-images{
    display:flex;
    gap:20px;
    margin:30px 0;
}

.dashboard-images img{
    width:260px;
    height:170px;
    border-radius:20px;
    object-fit:cover;
    box-shadow:0 15px 30px rgba(0,0,0,0.4);
}

/* Suggestions */
#suggestions div{
    background:#f1f1f1;
    padding:10px;
    border-radius:10px;
    margin-bottom:5px;
    cursor:pointer;
}
